[Unit]
Description=SageTeaViewCCTV

[Service]
WorkingDirectory=/home/SageTeaViewCCTV
Type=forking
ExecStart=/bin/bash INSTALL/start.sh
KillMode=process

[Install]
WantedBy=multi-user.target